.logoscale{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    /* background: blue; */
}
.bigNav{
    /* border: 2px solid tomato; */
    height: 80vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/pexels-david-skyrius-2129796.jpg);
    background-size: cover;
}
.caroScale{
    height: 300px;
    width: 100%;
}